main .search_field {
    max-width: 840px;
    margin: 2em auto;
    border-radius: 60px;
    box-shadow: 0 12px 32px 2px var(--text), 0 12px 24px 0 var(--purple-2);
    width: 100%;
    color: var(--black);
    position: relative;
    overflow: hidden;
    background-color: var(--text);
}

body main input {
    border: none;
    outline: none;
    padding: 1em 1.2em;
    font-size: .90em;
    width: calc(100% - 2.4em);
    color: var(--black);
}

.search_field button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 44px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--purple-2), var(--purple-1));
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--text);
}

main h3 {
    margin-top: 4px;
    color: var(--text-sec);
    text-align: center;
}

.result #recentSearch {
    order: 3;
}

.result #searchResult {
    order: 2;
}

#searchResult .header {
    display: none;
}

.result #searchResult .header {
    display: flex;
}

.users_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 2em 0;
    gap: 18px;
}

.users_container .user_wrapper {
    position: relative;
    padding: 1em;
    background: linear-gradient(to bottom, var(--purple-3), var(--purple-2));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
    border-radius: 8px;
}

.users_container .user_wrapper:hover {
    background: var(--purple-2);
}

.user_wrapper .user_avatar {
    max-width: 110px;
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

.users_container .user_wrapper:hover .user_avatar {
    transform: scale(1.1) translateY(-12px);
}

.user_wrapper .user_name {
    text-decoration: none;
    color: var(--text);
    font-size: 1.2em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.user_wrapper .user_name:hover {
    text-decoration: underline;
}