body #profile {
    margin: 0;
    padding-top: 2.8em;
}

#profile .profile_wrapper {
    display: flex;
    gap: 2em;
    flex-wrap: wrap-reverse;
}

#profile .profile_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile_container .profile_avatar {
    height: 242px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto;
}

.profile_container h4 {
    font-weight: 400;
}

.profile_container .profile_login {
    margin-top: -8px;
    color: var(--text-sec);
}

.profile_container .profile_table {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
    color: var(--purple-1);
    box-shadow: 0 12px 32px 2px var(--text), 0 12px 24px 0 var(--purple-2);
    background-color: var(--text);
    border-radius: 8px;
    margin: 2em auto;
    font-size: .8em;
    width: min(100% - 2em, 720px);
}

.profile_container .profile_table .item {
    border-left: 1px solid var(--purple-1);
    padding: 12px;
    width: calc(100% / 3);
}

.profile_container .profile_table .item:first-of-type {
    border: none;
}

.profile_container .profile_socials {
    margin-top: 1em;
}

.profile_container .profile_socials a {
    color: var(--text);
    height: 40px;
    border-radius: 30px;
    width: 40px;
    background: linear-gradient(45deg, var(--purple-2), var(--purple-1));
    margin: 0 4px;
    display: inline-grid;
    place-items: center;
    text-decoration: none;
    box-shadow: 0 0 72px 0 var(--text);
}

#repos .repos_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 2em 1em;
    gap: 1em;
    height: fit-content;
    align-items: stretch;
}

#repos .repo_container {
    background: linear-gradient(to bottom, var(--purple-3), var(--purple-2));
    border-radius: 8px;
    padding: 0.5em 1em 1em;
    box-shadow: 0 0 6px 0 var(--purple-2);
}

#repos .repo_container:hover {
    background: var(--purple-2);
}

.repo_container .repo_number {
    font-size: 1.4em;
    margin-right: 4px;
}

.repo_container .repo_name {
    text-transform: capitalize;
    font-size: 1.3em;
    color: var(--text);
}

.repo_container .repo_topics {
    display: flex;
    gap: 6px;
    padding-top: 8px;
    flex-wrap: wrap;
}

.repo_container .repo_description {
    padding: 10px 0 14px;
    color: var(--text-sec);
}

.repo_container .repo_language {
    font-weight: 300;
}

.repo_container .repo_topics span {
    font-size: .8em;
    border-radius: 20px;
    background-color: var(--purple-2);
    padding: 6px 14px;
    border: none;
    box-shadow: 0 0 36px 0 var(--purple-3);
    text-transform: capitalize;
}

#pagination {
    display: flex;
    margin: 1em 1em 2em;
    gap: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
}

#pagination .number_buttons {
    display: flex;
    gap: 8px;
}

#pagination button,
#pagination .perpage_button {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    font-size: 1em;
    background-color: var(--purple-2);
    border: none;
}

#pagination button:not(:disabled),
#pagination .perpage_button {
    background: linear-gradient(45deg, var(--purple-3), var(--purple-2));
    box-shadow: 0 0 12px 0 var(--purple-2);
    cursor: pointer;
    color: var(--text-sec);
}

#pagination>button {
    transform: scale(1.1);
}

#pagination button:hover,
#pagination button.active {
    background: var(--purple-2);
}


#pagination .perpage_button {
    width: unset;
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 0 8px 0 16px;
}

#pagination .perpage_button input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    text-align: center;
    font-size: 1.1em;
    max-width: 56px;
}